$primary: teal;
$secondary: purple;

@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirLTStd-Book.otf");
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica-Bold.ttf");
}
