$color-1: #4b5d68;
$color-2: #212353;
$color-3: #9c69e2;
$color-4: #f063b8;
$color-5: #68c9ba;

.mr-2 {
  margin-right: 2rem;
}

.fw-900 {
  font-weight: 900;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f6fafd;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  background: none;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Bold.ttf");
}

@mixin avenir {
  font-family: Avenir;
}

@mixin helvi {
  font-family: Helvetica;
}

@mixin padding {
  padding: 2rem 15%;
}

@mixin padding-mini {
  padding: 2rem 10%;
}

p {
  color: $color-1;
  @include avenir;
}

a{
  color: $color-1;
      text-decoration: none;
      @include avenir;
}

ul{
  list-style: none;
}

h1,
h2,
h3,h4 {
  color: $color-2;
  @include helvi;
}


@keyframes slide {
  0% {
    transform: translateX(calc(-110%));
  }

  10% {
    transform: translateX(calc(-110%));
  }

  25% {
    transform: translateX(calc(-220%));
  }

  35% {
    transform: translateX(calc(-220%));
  }

  50% {
    transform: translateX(calc(-330%));
  }

  60% {
    transform: translateX(calc(-330%));
  }

  75% {
    transform: translateX(calc(0%));
  }

  85% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(calc(-110%));
  }
}

