@import "global";

.nav {
  @include padding;
  height: 4rem;
  align-items: center;
}

.logo {
  float: left;
  display: flex;
  align-items: flex-end;

  &__1 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $color-3;
  }

  &__2 {
    height: 35px;
    margin-left: 9px;
    width: 20px;
    border-radius: 20px;
    background-color: $color-4;
  }
}

.nav-list {
  float: left;
  display: flex;
  margin-left: 3rem;

  &__item {
    margin-left: 1.5rem;
    font-family: Avenir;
    list-style: none;

    a {
      text-decoration: none;
      padding: 0 0.5rem;
      font-size: 16px;
      color: $color-1;
      &.active {
        color: $color-2;
        font-weight: 800;
      }
    }
  }
}

.button {
  border-radius: 50px;
  display: flex;
  cursor: pointer;
  width: max-content;
  @include avenir;

  &__regular {
    padding: 1rem 2.5rem;
  }

  &__clear {
    background: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
  }

  & > span {
    font-weight: 800;
  }

  &__light {
    background-color: white;
  }

  &__3 {
    background-color: $color-3;
    color: #fff;
  }

  &__nav {
    float: right;
    padding: 1rem 1.5rem;
    box-shadow: 0 5px rgba($color-2, 0.1);
  }
  &__arrow {
    width: 20px;
    height: 20px;
    margin-left: 1rem;
  }

  &__feature {
    margin-top: auto;
  }
}

.header {
  @include padding;
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    width: 65%;
  }

  &__heading {
    font-weight: 700;
    font-size: 80px;
    color: $color-2;
    line-height: 110%;
    margin-bottom: 1rem;
    @include helvi;
  }

  &__text {
    font-weight: 500;
    margin-bottom: 50px;
    color: $color-1;
    line-height: 160%;
    width: 55%;
    @include avenir;
  }

  &__image {
    height: 100%;
    width: 100%;

    &-container {
      position: absolute;
      right: 5rem;
      top: 8rem;
      width: calc(55% - 5rem);
      height: calc(100% - 5rem);
    }
  }
}

.section {
  width: 100%;
  margin-top: 5rem;
  @include padding;
}

.desc {
  &__container {
    display: flex;
    width: 100%;
    border-radius: 50px;
    background-color: rgba($color-4, 0.15);
  }

  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 50%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 5rem;
    width: 50%;

    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
      line-height: 130%;
    }

    p {
      font-size: 1rem;
      line-height: 160%;
    }
  }
}

.features__heading {
  margin-top: 5rem;

  & > h2 {
    font-size: 2rem;
    text-align: center;
  }

  & > p {
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 3rem;
    width: 55%;
  }
}

.features {
  margin: 3rem 0 8rem 0;

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  &__feature {
    position: relative;
    display: flex;
    margin-top: 3rem;
    width: 50%;
    
    padding: 0.5rem 0;
    position: relative;

    svg {
      width: 100%;
      height: calc(100% + 1rem);
      position: absolute;
    }
  }

  &__text {
    &-header {
      font-size: 1.5rem;
      margin-bottom: 0;
      font-weight: 400;
      line-height: 31.2px;
    }

    &-body {
      font-size: 0.9rem;
      line-height: 25.6px;
      margin-top: 2rem;
    }

    &-container {
      display: flex;
      padding: 1rem 1rem 1rem 0;
      flex-direction: column;
      justify-content: flex-start;
      width: 65%;
      height: 100%;
      padding-bottom: 2rem;
      padding-right: 3rem;

      top: 0;
    }
  }

  &__image-container {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    top: 5rem;

    & > img {
      height: 100%;
      width: 100%;
    }
  }
}

.testimonials {
  margin-top: 5rem;
  width: 100%;
  border-radius: 50px;
  background-color: $color-3;
  padding: 3rem 0 3rem 3rem;

  & > h2 {
    font-size: 2rem;
    margin-bottom: 4rem;
    color: #fff;
  }

  &__list {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 78%,
        rgba(156, 105, 226, 0.9332107843137255) 100%
      );
    }
  }
  &__card {
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    padding: 3rem 2rem;
    width: 100%;
    min-width: 40vw;
    margin-right: 1rem;
  }

  &__image-container {
    width: max-content;

    img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }
  }

  &__details {
    display: flex;
    width: auto;
    flex-direction: column;
    padding-left: 2rem;

    h3 {
      font-size: 1rem;
      margin-bottom: 0.2rem;
    }

    p {
      font-size: 0.9rem;
      margin-top: 0.2rem;
      line-height: 160%;
    }

    p:nth-child(2) {
      font-size: 0.9rem;
      margin-top: 0.2rem;
    }

    h4 {
      font-size: 1rem;
      @include avenir;
    }
  }

  &__control-container {
    width: 100%;
    display: flex;
    padding-right: 2rem;
    margin-top: 2rem;
    align-items: flex-end;
    justify-content: space-between;

    &__index {
      display: flex;
      align-items: center;

      .index {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;
        background-color: #fff;
        transition: all .3s ease-in-out;

        &:hover {
          background-color: rgba(#fff, 0.6);
        }
      }

      .active {
        transform: scale(2.5);
        background-color: $color-4;
      }
    }

    &__arrows {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .left {
        width: 30px;
        height: 16px;
        transform: rotateZ(180deg);
      }

      .right {
        width: 18px;
        height: 15px;
        margin-left: 15px;
        opacity: 0.5;
      }
    }
  }
}

.a {
  background-color: red;
}
